body {
	background: url(../assets/images/bg8.jpg) no-repeat center fixed;
	-webkit-background-size: cover; /* For Google Chrome and Safari */
	-moz-background-size: cover; /* Mozilla */
	-o-background-size: cover; /* opera */
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	color: white;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;
	font-family: 'Noto Serif', serif;
	margin-top: 10px;
}

h2 {
	color: white;
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 20px;
}

.bio {
	color: white;
	font-size: 15px;
}

.about {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.me {
	height: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	margin-top: 30px;
}